@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --radius: 0.5rem;
    --violet: #7c4dff;
    --cyan: #18ffff;
    --green: #76ff03;
    --orange: #ff7043;
    --pink: #ff80ab;
    --background: #fafafa;
    --foreground: #1a1a1a;
  }

  * {
    /* outline: 1px solid red; */
  }
}
